{{define "yield"}}
<div class="row">
  <div class="col-md-12">
    <h1>
      {{.Title}}
    </h1>
    <ul>
      <!-- prettier-ignore -->
      {{range .Images}}

      <li>{{.}}</li>
      <!-- prettier-ignore -->
      {{end}}
    </ul>
  </div>
</div>
{{ end }}
